Instruction.rst
compile_upload.sh
build.sh
*.sh
update_requirements.sh
.idea/
venv/
conda/outdir/
opmqc.egg-info/
dist/
build/
docs/build/
README_private.md
.vscode
**/.DS_Store
**/__pycache__/
*.fif
imgs/